@model samsam.Models.SamouraiVM

@{
    ViewBag.Title = "Edit";
    ViewData["validation"] = "edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   

<div class="form-horizontal">
    <h4>Samourai</h4>
    <hr />
    @Html.HiddenFor(Model => Model.Samourai.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Partial("./Shared/_create_edit_nom");
    @Html.Partial("./Shared/_create_edit_force");
    @Html.Partial("./Shared/_create_edit_arme");
    @Html.Partial("./Shared/_create_edit_artsMartials");
    @Html.Partial("_validation", ViewData);
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
